<component name="libraryTable">
  <library name="spring-beans-5.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../jdbc-day02/libs/spring-beans-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../jdbc-day02/libs/spring-core-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../jdbc-day02/libs/spring-jdbc-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../jdbc-day02/libs/spring-tx-5.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>